.partners{
    padding: 30px 0 50px;
    &__name{
        color: $color-lightBlue;
        margin-bottom: 12px;
        @include font(18px, 700, 1.2, $font-open);
    }
    &__row1, &__row2{
        display: flex !important;
        justify-content: space-between;
    }
    &__row1{
        margin-bottom: 90px;

    }
    &__item{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // max-width: 20%;
    }
    .slick-slider{
        display: flex !important;
    }
    .slick-slide{
        border: none;
        outline: none;
        img{
            display: flex;
        }
    }

}