.tender{
    background-image: url('../image/png/tender.png');
    &__wrapper{
        @include flex-center(space-between);

    }
    &__title, &__subtitle{
        text-align: center;
        color: $color-lightBlue;
    }
    &__title{
        @include font(24px);
    }
    &__subtitle{
        @include font(18px);
        margin: 12px 0 20px 0;

    }
    &__block--right{
        .social{
            display: flex;
            flex-direction: column;
            &__item{
                @include flex-center();
                @include font(5px);
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    margin-right: 10px;
                }
            }
        }
    }
    &__block--middle{
        display: flex;
        justify-content: center;
        flex-direction:column;
    }
    &__button{
        margin: 0 auto;
        background-color: $color-lightBlue;
        @include font(12px, 700);
        padding: 10px 67px;
        border-radius: 15px;
        color: $color-white;
        text-align: center;
        max-width: 95px;
    }
}