@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 75%;
}

.col-10 {
  width: 83.34%;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Roboto",sans-serif;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.row, .column, .align-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(2, 23, 97, 0.8);
  width: 100%;
}

.header__wrapper {
  padding: 6px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 112px;
  height: 59px;
}

.header__block--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  border-left: 2px solid #FFFFFF;
  padding-left: 25px;
  margin-left: 36px;
}

.header__search svg {
  stroke: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.social, .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__items, .info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.social__items:last-child, .info__items:last-child {
  margin: 0;
}

.social__items svg, .info__items svg {
  margin-right: 5px;
}

.social span, .info span {
  color: #FFFFFF;
  font-size: 9px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
}

.hero {
  background-image: url("../image/png/hero-banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.hero__opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 23, 97, 0.5);
  z-index: -1;
}

.hero__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 84px;
  font-family: "Roboto";
  font-style: normal;
  padding: 250px 0 100px;
  text-align: center;
}

.hero__bottom {
  background-color: rgba(2, 23, 97, 0.8);
  padding: 20px 0;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero__button {
  padding: 8px 42px;
  background-color: #FFFFFF;
  margin-bottom: 12px;
  color: #1267A2;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  border-radius: 15px;
}

.hero__button:last-child {
  margin: 0;
}

.hero__burger-menu {
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 20px;
}

.menu__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  color: #FFFFFF;
}

.tender {
  background-image: url("../image/png/tender.png");
}

.tender__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tender__title, .tender__subtitle {
  text-align: center;
  color: #1267A2;
}

.tender__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
}

.tender__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  margin: 12px 0 20px 0;
}

.tender__block--right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tender__block--right .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 10px;
}

.tender__block--right .social__item:last-child {
  margin-bottom: 0;
}

.tender__block--right .social__item img {
  margin-right: 10px;
}

.tender__block--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tender__button {
  margin: 0 auto;
  background-color: #1267A2;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  padding: 10px 67px;
  border-radius: 15px;
  color: #FFFFFF;
  text-align: center;
  max-width: 95px;
}

.services {
  padding-bottom: 118px;
  background-image: url("../image/png/room.png");
}

.services__item {
  background-color: rgba(2, 23, 97, 0.85);
  border-radius: 10px;
  padding: 19px 10px 33px;
  width: 133px;
  height: 124px;
  text-align: center;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7);
          box-shadow: rgba(0, 0, 0, 0.7);
}

.services__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services__name, .services__description {
  color: #FFFFFF;
}

.services__name {
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 8px;
}

.services__description {
  font-size: 8px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto";
  font-style: normal;
}
