.col-1 {
    width: 8.333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5{
    width: 41.6666%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8{
    width: 75%;
  }
  .col-10 {
    width: 83.34%;
  }